@page "/paulo"
@inject NavigationManager NavigationManager

@using Blazor.Data
<h1>Dados da tabela vieram de API REST</h1>

@if (dtoObjeto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var livro in dtoObjeto)
            {
                <tr>
                    <td>@livro.id</td>
                    <td>@livro.title</td>
                    <td>@livro.body</td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <button class="btn btn-primary" @onclick="AcaoDoBotaoEmCSharp">Voltar para o início</button>

    <br />
    <br />
}

@code {

    Livros livros = new Livros();
    public List<DtoObjetoExemplo> dtoObjeto = new List<DtoObjetoExemplo>();

    public void ConsultarLivros()
    {
        dtoObjeto = livros.PegarRetornoDaAPI();
    }

    protected override async Task OnInitializedAsync()
    {
        ConsultarLivros();
    }

    public void AcaoDoBotaoEmCSharp()
    {
        NavigationManager.NavigateTo("inicio");
    }
}
